.container {
    background-color: #fff;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 20px
}

h1 {
    padding-left: 20px;
    color: #4196a4;
}
h2 {
    color: black;
    padding-left: 20px;
}

hr {
    border-width: 1px;
    margin-left: 20px;
}

.ColumnSide {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

p {
    padding-left: 10px;
    text-align: justify;
    margin-top: 27px;
    font-weight: bold;
    color: black;
}

spam {
    font-weight: normal;
}


